@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    color: #ffffff;
    background-color: black;
    margin: 0;
    padding: 0;    
    min-width:30rem;
    text-align: center;
}
header{
    font-family: 'Press Start 2P', Courier, monospace;
    padding: 2rem;
}

/*==========Score Board =============*/
.scoreBoard{
    display: flex;
    justify-content: space-around;
    background-color: #26ac47d5;
    padding: 2rem;    
}

#player1Score{
    border: 0.3rem solid black;
    padding: 1.5rem;    
    background-color: #dfdc1dc4;
    color: #d122dd;
    font-size: 1.5rem;
    font-family: 'Press Start 2P', Courier, monospace;
}
#player2Score{
    border: 0.3rem solid black;
    padding: 1.5rem;    
    background-color: #dfdc1dc4;
    color: #d122dd;
    font-size: 1.5rem;
    font-family: 'Press Start 2P', Courier, monospace;
}

/*======== Player Turn ===============*/
.playerTurn{
    background-color: #000000;
    padding: 1rem;
    color:#ffffff;
    font-family: 'Press Start 2P', Courier, monospace;
}


/*========= Game Board ================ */
.gameBoard {
    background-color: black;
    display: flex;   
    flex-wrap: wrap;    
    padding: 5rem 15rem 0rem 15rem;
    min-height:15rem ;
    
}
.cell {     
    background-color: #26ac47d5; 
    flex: 0 1 33%; 
    padding: 1rem;
    border-radius:3%;
    
}
.cell:hover{
    box-shadow: 0.1rem 0.1rem 0.8rem #ffffff;
}
.cell:active{
    transform: scale(0.95);
}

#cell1{      
    border-bottom: solid #ed39fa 0.3rem;
    border-right: solid #ed39fa 0.3rem;
}
#cell2{
    border-bottom: solid #ed39fa 0.3rem;
    border-right: solid #ed39fa 0.3rem;
    border-left: solid #ed39fa 0.3rem;
}
#cell3{    
    border-bottom: solid #ed39fa 0.3rem;
    border-left: solid #ed39fa 0.3rem;
}
#cell4{  
    border-top: solid #ed39fa 0.3rem;  
    border-bottom: solid #ed39fa 0.3rem;
    border-right: solid #ed39fa 0.3rem;
}
#cell5{
    border: solid #ed39fa 0.3rem;    
}
#cell6{   
    border-top: solid #ed39fa 0.3rem;   
    border-bottom: solid #ed39fa 0.3rem;
    border-left: solid #ed39fa 0.3rem;
}
#cell7{    
    border-top: solid #ed39fa 0.3rem;    
    border-right: solid #ed39fa 0.3rem;
}
#cell8{
    border-top: solid #ed39fa 0.3rem;
    border-right: solid #ed39fa 0.3rem;
    border-left: solid #ed39fa 0.3rem;
}
#cell9{    
    border-top: solid #ed39fa 0.3rem;   
    border-left: solid #ed39fa 0.3rem;
}

/*============ CONTROLS ==================*/

.controls{
    background-color: black;
}